FORMAT: 1A
HOST: http://api.junashare.com/

# Junashare Service 1.x
享什么app API 1.x 版本

# Data Structures

## Banner (object)
+ type (enum[string]) - Banner所属的类型
    
    + `0` - 表示普通图片Banner，只需要展示
    + `1` - 表示白领商品Banner，点击后进入白领商品
    + `2` - 表示壹购商品Banner，点击后进入壹购商品
    + `3` - 表示URL Banner，点击后展示URL内容
        
+ parameter (string) - 当type为1或者2时，该值为商品id，当type为3时是URL地址，其他为null
+ images (object)
    + fid: 1 - 图片文件id
    + self: `http://drupal7.local/sites/default/files/banner_image/pic2-003%403x.jpg` - 图片的URL
    + filemime: `image/jpeg` - 图片类型
    + filesize: 55573 - 图片大小
    + width: 750 - 图片宽度
    + height: 690 - 图片高度
    + styles (object) - 其他大小的图片，例如hdpi和hhdpi

## Column (object)
+ id (string) - id
+ label (string) - 栏目名字
+ self (string) - 指向获取该栏目的api地址

## InfoCategory (Column)
+ label (string) - 信息或者规则页面所属的分类

# Group Banner

## Banner List [/api/v1.0/banner{?fields,filter}]

### Retrieve All Banners [GET]
+ Parameters
    + fields (enum[string]) - 接口可以获取到的所有的字段都能单独获取，
    
        例如：fields=type,parameter,images.self
    
        + Members
            + `type`
            + `parameter`
            + `images.self`
            + `...`

    + filter (enum[string]) - 接口可以通过字段来筛选数据，
    
        例如：filter[column]=1 则表示获取所有column=1的数据。
        column的可选值是：_1_ 表示享什么板块，_2_ 表示壹购板块
        
        + Members
            + `column`
            + `...`
        
+ Response 200 (application/json)
    + Attributes (object)
        + data (array[Banner])
        + count: 1 - 数据库中对象的总个数
        + column (Column)

# Group Info Page

## Info Page List [/api/v1.0/infopage{?fields,filter}]

### Retrieve All Info Pages [GET]
+ Parameters
    + fields (enum[string]): `items` - 接口可以获取到的所有的字段都能单独获取，
    
        例如：fields=items
    
        + Members
            + `items`

    + filter (enum[string]) - 接口可以通过字段来筛选数据，
    
        例如：filter[category.label]=认证须知 则表示获取所有category.label为认证须知的数据。
        category.label的可选值是：
        
        + Members
            + `认证须知`
            + `为何需要认证`
        
+ Response 200 (application/json)
    + Attributes (object)
        + items (array[string])
        + count: 1 - 数据库中对象的总个数
        + category (InfoCategory)

