.bingo-product-info {
  margin-top: 80px;
  margin-bottom: 15px;
}

.bingo-users-info {
  margin-top: 30px;
}

.bingo-user-item {
  color: #666666;
  /*width: 550px;*/
}

.bingo-user-index {
  min-width: 25px;
}

.bingo-user-number {
  color: #E8404C;
  margin-right: 15px;
  font-weight: bold;
  min-width: 120px;
}

.bingo-user-name {
  min-width: 25px;
  margin-right: 15px;
}

.page-luckdraw-result .title {
  display: none;
}

.node-type-page #page {
  padding-top: 30px;
}

.copyright {
  color: #ADADAD;
  padding: 5px 0;
}

.product-footer {
  background-color: #00A29A;
  padding: 5px 0;
}

.product-footer a {
  color: #FFFFFF;
  display: block;
}
